html,body {
    padding:0; 
    margin:0; 
    background-color: rgb(58, 61, 76);
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}
body {

}
.all-sections section {
    scroll-snap-align: start;
}
.logo1 {
    position: relative;
    top: 3vh;
    left: 10vw;
    margin: 0;
    padding: 0;
    width: calc(150px + 5vw);
}
.logo {
    width: calc(150px + 5vw);
    margin: 0;
    padding: 0;
}
.section {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
.header {
    position: relative;
    width: max-content;
}
.underline {
    position: relative;
    background-color: #f05323;
    height: 6px;
    top: 1.5px;
}
.headerbox1 {
    position: relative;
    left: 10vw;
    top: 7.5vh;
    display: inline-block;
}
h1 {
    color: white;
    margin: 0;
    padding: 0;
    font-size: calc(10px + 4vh + 2vw);
    line-height: 0.8;
}
.word {
    z-index: 200;
}
p {
    color: white;
    font-size: calc(10px + 1.5vh + 1vw);
    margin: 10px 0;
}

/* SECTION 1 - Home */
.subhead1 {
    width: 70vw;
}
.hero1 {
    position: relative;
    object-fit: cover;
    left: calc(50% - 17.5vh);
    width: 35vh;
    height: auto;
    top: 15vh;
}
.button1 {
    position: relative;
    background-color: white;
    border: none;
    color: #f05323;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: calc(10px + 3vh + 1vw);
    font-weight: 900;
    cursor: pointer;
    width: 40vh;
    padding: 15px 0;
    left: calc(50% - 20vh);
    top: 22vh;
}
.icon {
    max-width: 100%;
}



.about-text {
    padding-top: 5vh;
    width: 80vw;
    
}
.hero2 {
    position: relative;
    left: calc(50% - 17.5vh);
    width: 35vh;
    height: auto;
    bottom: 0vh;
}

.about-text p {
    margin-bottom: 3vh;
}

.project-text {
    margin-top: 5vh;
    width: 80vw;
}

.contact-text {
    margin-top: 5vh;
    line-height: 1;
    width: 80vw;
}

.map {
    position: relative;
    top: 15vh;
    width: 80vw;
    height: 42.5vh;
    left: 8vw;
}
.get-text {
    margin-top: -0.5vh;
    width: 80vw;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    top: 12.5vh;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background-color: rgb(83, 88, 119);
}

.swiper-slide img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 60vh;
}

.project-text {
    margin: 1vh 10vw;
}
.swiper-wrapper h2 {
    color: white;
    font-weight: 400;
    margin: 0 0;
    padding: 0 0;
}

@media (min-aspect-ratio: 3/4) {
    body {
      background: green;
    }
  }

